footer {
    display: flex;
    position: relative;
}

.footerLeft {
    flex: 2;
    display: flex;
    justify-content: space-between;
    padding: 50px;
}

.footerMenuTitle {
    font-size: 1.1rem;
    margin-bottom: 1rem;
}

.footerList {
    padding: 0;
}

.footerListItem {
    margin-bottom: 10px;
    color: gray;
    cursor: pointer;
}

.footerRight {
    flex: 1;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footerInput {
    padding: 5px;
}

.footerButton {
    padding: 5px;
    background-color: #000;
    color: #fff;
}

.footerIcons {
    display: flex;
}

.footerIcon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.copyright {
    font-weight: 300;
    font-size: 14px;
}

@media screen and (max-width:768px) {
    
    footer {
        width: 100%;
        min-height: 200px;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 55rem;
        bottom: 0;
    }

    .footerLeft {
        padding: 40px 20px 0 20px;
        width: 90%;
    }

    .footerRight {
        padding: 40px 20px 0 20px;
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }

    .footerIcons {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}